nav {
  height: clamp(5.5rem, 11vh, 6rem);
  background: var(--bkclr-ltst);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  padding-inline: 5vw;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.11);
}
nav .nav-bar {
  display: flex;
  list-style: none;
  align-items: center;
}
nav .nav-bar .nav-item {
  margin-left: clamp(1rem, 1.5vw, 1.5rem);
  position: relative;
}
nav .nav-bar .nav-item:not(.nav-btn) a:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 3px;
  background: var(--clr-main-n);
  transition: width 400ms;
}
nav .nav-bar .nav-item:not(.nav-btn):hover a:after {
  width: 100%;
}
nav .nav-bar a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

nav .nav-bar .nav-item.nav-active a {
}

nav .nav-logo img {
  width: 70px;
}
nav .nav-logo {
  flex: 1;
}
.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.24);
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
  transition: opacity 1s;
}
.nav-lines .line {
  background: black;
  width: 1.7rem;
  height: 4px;
  margin-bottom: 4px;
  display: none;
}
@media (max-width: 754px) {
  .overlay.overlay-shown {
    opacity: 1;
  }
  .nav-lines {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav-lines .line {
    display: block;
    transition: all 0.5s;
  }
  nav {
    width: 100vw;
  }
  nav ul.nav-bar {
    flex-direction: column;
    position: fixed;
    top: clamp(5.5rem, 11vh, 6rem);
    background: rgb(240, 240, 240);
    right: -100vw;
    height: 100vh;
    width: 40vw;
    justify-content: flex-start;
    transition: all 1s;
    z-index: 10;
    padding-top: 4rem;
    text-align: center;
    gap: 1rem;
  }
  nav ul.nav-bar.nav-bar-active {
    right: 0;
  }
}

.nav-lines.nav-lines-active .line:nth-child(1) {
  transform: rotate(-45deg) translate(1px, 6px);
  margin-bottom: 0;
}
.nav-lines.nav-lines-active .line:nth-child(2) {
  opacity: 0;
  margin: 0;
}
.nav-lines.nav-lines-active .line:nth-child(3) {
  transform: rotate(45deg) translate(0px, -6px);
  margin-bottom: 0;
}

.primary-btn {
  background: var(--clr-main-n);
  color: white;
  font-size: 1.1rem;
  border: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.primary-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-main-dk);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
.primary-btn:hover::before,
.primary-btn:focus::before {
  transform: scaleX(1);
}
.secondary-btn {
  border: solid 2px var(--clr-main-n);
  font-size: 1.1rem;
  padding: calc(0.7rem - 2px) calc(0.8rem - 2px);
  cursor: pointer;
  color: black;
  text-decoration: none;
  background-color: transparent;
}
.nav-item.nav-btn a {
  text-decoration: none;
}
