* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fnt-main);
}
body {
  background: var(--bkclr-ltr);
}
#section-hero {
  background: var(--clr-main-n);
  color: white;
  height: 25vh;

  display: grid;
  align-items: center;
  padding-left: 5vw;
}
#section-hero h2 {
  font-size: 3.5rem;
}
#section-terms {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10vh;
}
.container-terms {
  width: 70%;
  background-color: var(--bkclr-ltst);
  padding: 4rem 5rem;
}
.terms-text .terms-title {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}
.terms-text {
  margin-bottom: 1rem;
}
.terms-text .update-text {
  font-style: italic;
}
p.terms-subtitle {
  font-size: clamp(1rem, 2vw, 1.2rem);
}
h3.terms-subtitle {
  margin-block: 1.8rem 0.2rem;

  font-weight: 700;
  font-size: 1.5rem;
}
.terms-terms h4 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 550;
}
.terms-terms ul {
  margin-left: 0;
  padding-left: 30px;
}
@media (max-width: 710px) {
  .container-terms {
    width: 85%;
  }
}
