:root {
  --bkclr-dkst: rgb(37, 37, 37);
  --bkclr-dkr: rgb(56, 56, 56);
  --bkclr-dke: rgb(63, 63, 63);
  --bkclr-ltst: hsl(0, 0%, 99%);
  --bkclr-ltr: hsl(0, 0%, 93%);
  --bkclr-lte: rgb(226, 226, 226);
  --bkclr-main-lte: #2e2e2e;
  --bkclr-main-ltr: #303030;
  --bkclr-main-lst: #3d3d3d;
  --fnt-main: "Poppins", Sans-Serif;
  --clr-main-n: #005baf;
  --clr-main-dk: #00305e;
}
.primary-btn {
  background: var(--clr-main-n);
  color: white;
  font-size: 1.1rem;
  border: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.primary-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--clr-main-dk);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}
.primary-btn:hover::before,
.primary-btn:focus::before {
  transform: scaleX(1);
}
.secondary-btn {
  border: solid 2px var(--clr-main-n);
  font-size: 1.1rem;
  padding: calc(0.7rem - 2px) calc(0.8rem - 2px);
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}
