:root {
  --bkclr-dkst: rgb(37, 37, 37);
  --bkclr-dkr: rgb(56, 56, 56);
  --bkclr-ltst: hsl(0, 0%, 99%);
  --bkclr-ltr: hsl(0, 0%, 93%);
  --bkclr-lte: rgb(226, 226, 226);
  --fnt-main: "Poppins", Sans-Serif;
  --clr-main: #0053a0;
}
